<app-symbol-value-selector [info]="this.idpService.getValueInfo(symbolName,valueName)"></app-symbol-value-selector>

<ng-container *ngIf="explanation && dependencySymbols.length > 0">
  <div style="margin-bottom: 1em">Above choice is implied by the following choice(s):</div>
  <div *ngFor="let symbolName of dependencySymbols">
    <div style="font-size: 18px">{{this.idpService.meta.getSymbol(symbolName).guiname}}</div>
    <app-symbol-value-selector
      *ngFor="let valueName of getDependencyValues(symbolName)"
     [info]="this.idpService.getValueInfo(symbolName,valueName)"></app-symbol-value-selector>
  </div>
</ng-container>

<ng-container *ngIf="explanation && dependencySymbols.length === 0">
  <div style="margin-bottom: 1em">This choice is implied from the underlying theory, regardless of other choices.</div>
</ng-container>
