:host {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.setting {
  display: flex;
  align-items: center;
}

.setting p {
  width: 9em;
}

.setting p-selectButton {
  width: 15em;
}
