<div class="col">
  <div class="setting">
    <button (click)="idpService.reset()" id="reset" pButton>&nbsp;Reset&nbsp;</button>
  </div>
</div>

<div class="col">
  <div class="setting">
    <p>Visibility:</p>
    <p-selectButton [options]="visibilities"
                    [(ngModel)]="visibility"
                    (onChange)="onVisibilityChanged($event.value)"
    ></p-selectButton>
  </div>
  <div class="setting">
    <p>Relevance Notion:</p>
    <p-selectButton [options]="relevances"
                    [(ngModel)]="relevance"
                    (onChange)="onRelevanceChanged($event.value)"
    ></p-selectButton>
  </div>
</div>
