:host {
  display: flex;
  flex-direction: row;
}

:host >>> .ui-menubar {
  border: 0
}

.btnSetting {
  margin-top: 1em;
  height: 2em;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1em;
}

.setting {
  display: flex;
  align-items: center;
}

.setting p {
  width: 9em;
}

.setting p-selectButton {
  width: 15em;
}

:host >>> .ui-sidebar-left.ui-sidebar-lg, .ui-sidebar-right.ui-sidebar-lg {
  width: 95%;
}
