<ng-container *ngIf="valueInfo && symbolInfo">
  <div class="val">

    <app-symbol-value-selector [symbolName]="symbolInfo.idpname"
                               [valueName]="valueInfo.idp.idpName"></app-symbol-value-selector>

    <div class="buttons">
      <button (click)="longInfoVisible = true"
              *ngIf="valueInfo.shortinfo || valueInfo.longinfo" [ngClass]="valueInfo.longinfo?'link':'nolink'"
              class="transp"
              icon="pi pi-info-circle"
              pButton
              pTooltip="{{valueInfo.shortinfo}}"
      ></button>
      <button (click)="op.toggle($event)"
              *ngIf="symbolInfo.showParameters" class="transp"
              icon="pi pi-sitemap"
              pButton
              pTooltip="Show the symbols that define this one"
      ></button>
    </div>
  </div>


  <p-dialog *ngIf="valueInfo.longinfo"
            [(visible)]="longInfoVisible"
            [dismissableMask]="true"
            [header]="valueInfo.idpname"
            [modal]="true"
            [responsive]="true"
            [style]="{minWidth: '400px'}">
    {{valueInfo.longinfo}}
  </p-dialog>

  <p-overlayPanel #op [dismissable]="false" [showCloseIcon]="true">
    <app-showparam *ngIf="op.visible" [symbolName]="symbolInfo.idpname"
                   [valueName]="valueInfo.idp.idpName" appendTo="body"></app-showparam>
  </p-overlayPanel>
</ng-container>
