<p-panel styleClass="my-panel">
  <p-header>
    <div class="vals ui-helper-clearfix">
      <span class="ui-panel-title" style="font-size:16px;display:inline-block">
        {{info.idpname}}
      </span>
      <button *ngIf="info.shortinfo"
              pButton class="transp small"
              style="float:right"
              icon="pi pi-info"
              pTooltip="{{info.shortinfo}}"></button>
    </div>
  </p-header>
  <ng-container *ngFor="let i of [1,2,3,4]">
    <app-value [i]="i"></app-value>
  </ng-container>
</p-panel>
