:host >>> .my-panel .ui-panel-titlebar,
:host >>> .my-panel .ui-panel-content,
:host >>> .my-panel .ui-panel-footer {
  background: #EEE
}

button.transp,
button.transp:hover {
  background-color: transparent;
  color: black;
  border: none;
  cursor: hand;
  border-radius: 0em;
  margin: 0 0 0.1em 0;
}

button.small {
  width: 1.5em;
}

button.large {
  width: 3.25em;
}

button.true {
  background-color: green;
  color: white;
}

button.false {
  background-color: red;
  color: white;
}

button.unknown {
  background-color: transparent;
  color: black
}

button.white {
  background-color: white;
  color: black
}

app-value {
  margin-bottom: 5px;
}

.longInfo {
  min-width: 400px;
  min-height: 300px;
}

.nolink {
  cursor: default;
}
