<ng-container *ngIf="info">
  <div class="selector">
    <div class="buttons">
      <ng-container *ngIf="!info.known">
        <button (click)="info.value = true ; this.idpService.doPropagation()"
                [ngClass]="{'small': true, 'ui-button-success' : info.relevant }"
                icon="pi pi-check" pButton
                title="Choose this value"
        ></button>
        <button (click)="info.value = false; this.idpService.doPropagation()"
                [ngClass]="{'small': true, 'ui-button-danger' : info.relevant }"
                icon="pi pi-times" pButton
                title="Exclude this value"
        ></button>
      </ng-container>
      <button (click)="op.show($event)"
              *ngIf="info.known && info.propagated"
              [ngClass]="{'large': true, 'ui-button-success' : info.value, 'ui-button-danger' : !info.value }"
              icon="pi pi-question" pButton
              title="Explain this value"
      ></button>
      <button (click)="info.value = null ; this.idpService.doPropagation()"
              *ngIf="info.known && !info.propagated"
              [ngClass]="{'large': true, 'ui-button-success' : info.value, 'ui-button-danger' : !info.value }"
              icon="pi pi-replay"
              pButton
              title="Reset this value"
      ></button>
    </div>
    <span class="valueLabel">{{info.idp.guiName}}</span>
  </div>

  <p-overlayPanel #op [dismissable]="true" [showCloseIcon]="true" appendTo="body">
    <app-showexplain *ngIf="info.known && op.visible" [symbolName]="symbolName" [valueName]="valueName"
    ></app-showexplain>
  </p-overlayPanel>

</ng-container>
