<ng-container *ngIf="!known">
  <button pButton
          [className]="this.relevant ? 'small ui-button-success' : 'small transp'"
          title="Choose this value" icon="pi pi-check"
          (click)="value = true"
  ></button>
  <button pButton
          [className]="this.relevant ? 'small ui-button-danger' : 'small transp'"
          title="Exclude this value" icon="pi pi-times"
          (click)="value = false"
  ></button>
</ng-container>
<button pButton
        [className]="value ? 'large ui-button-success' : 'large ui-button-danger'"
        title="Explain this value" icon="pi pi-question"
        *ngIf="known && propagated"
></button>
<button pButton
        [className]="value ? 'large ui-button-success' : 'large ui-button-danger'"
        title="Reset this value" icon="pi pi-replay"
        *ngIf="known && !propagated"
        (click)="value = null"
></button>
