<p-tabView>
  <p-tabPanel header="Specification">
    <div class="row">
      <div class="p-col-8">
        <ngx-monaco-editor [(ngModel)]="this.idpService.spec" [options]="editorOptions"
                           class="main"></ngx-monaco-editor>
      </div>
      <div class="p-col-4">
        <div class="btnbox">
          <button (click)="checkSyntax()" class="ui-button-info" label="Check Syntax" pButton type="button"></button>
        </div>
        <p-message *ngIf="errStream != ''" [text]="errStream" class="errStream" severity="warn"></p-message>
      </div>
    </div>

  </p-tabPanel>
  <p-tabPanel header="Meta Information (JSON)">
    <ng-template pTemplate="content">
      <ngx-monaco-editor [(ngModel)]="this.idpService.metaStr" [options]="jsonEditorOptions"
                         class="json"></ngx-monaco-editor>
    </ng-template>

  </p-tabPanel>
</p-tabView>


