<ng-container *ngIf="idpService.ready()">
  <div class="heading">
  <span class="titlespan">
  <h1>{{idpService.meta.title}}</h1>
  <app-header></app-header>
  <p-progressSpinner *ngIf="idpService.openCalls > 0" [style]="{width: '40px', height: '40px', marginLeft: '2em'}"
                     animationDuration=".5s"
                     fill="#EEEEEE" strokeWidth="8"></p-progressSpinner>
    </span>
  </div>

  <app-configurator></app-configurator>
  <p-toast></p-toast>
</ng-container>

<ng-container *ngIf="!idpService.ready()">
  <h2>Oops</h2>
  <div>
    Something went wrong while trying to start the application. Please check both your specification and your meta
    information and try to restart by clicking:
    <button pButton (click)="idpService.reloadMeta()">Start App</button>
  </div>

  <app-editor></app-editor>
</ng-container>

<div class="footContainer">
<div class="footer">
  {{idpService.versionInfo}}
</div>
</div>
