<ng-container *ngIf="idpService.ready()">
  <div class="heading">
  <span class="titlespan">
  <h1>{{idpService.meta.title}}</h1>
  <app-header></app-header>
  <p-progressSpinner *ngIf="idpService.openCalls > 0" [style]="{width: '50px', height: '50px', marginLeft: '2em'}"
                     strokeWidth="8"
                     fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
    </span>
  </div>

  <app-configurator></app-configurator>
</ng-container>

<ng-container *ngIf="!idpService.ready()">
  <app-editor style="height: 90vh; display: block"></app-editor>
  <button pButton (click)="idpService.reloadMeta()">Start App</button>
</ng-container>
