<app-symbol-value-selector [symbolName]="symbolName" [valueName]="valueName"></app-symbol-value-selector>

<ng-container *ngIf="dependencies">

  <div style="margin-bottom: 1em">Above choice is defined through the following choice(s):</div>
  <div *ngFor="let symbolName of dependencySymbols">
    <div style="font-size: 18px">{{symbolName}}</div>
    <app-symbol-value-selector
      *ngFor="let valueName of getDependencyValues(symbolName)"
      [valueName]="valueName" [symbolName]="symbolName"></app-symbol-value-selector>
  </div>
</ng-container>
