<app-symbol-value-selector [info]="this.idpService.getValueInfo(symbolName,valueName)"></app-symbol-value-selector>

<ng-container *ngIf="dependencies && dependencySymbols.length > 0">

  <div style="margin-bottom: 1em">Above choice is defined through the following choice(s):</div>
  <div *ngFor="let symbolName of dependencySymbols">
    <div style="font-size: 18px">{{this.idpService.meta.getSymbol(symbolName).guiname}}</div>
    <app-symbol-value-selector
      *ngFor="let valueName of getDependencyValues(symbolName)"
    [info]="this.idpService.getValueInfo(symbolName,valueName)"></app-symbol-value-selector>

  </div>

</ng-container>

<ng-container *ngIf="dependencies && dependencySymbols.length === 0">
  This choice is not defined through other choices.
</ng-container>
