.buttons {
  height: 1.75em;
  display: flex;
  align-items: center;
}

button {
  font-size: 18px;
  height: 100%;
  width: 1.5em !important;
  margin: 0.135em;
}

button,
button:enabled:hover {
  background-color: transparent;
  color: black;
  border: 0;
}

button.large {
  width: 3.27em !important;
}
