<span class="icons">
<button (click)="longInfoVisible = true"
        *ngIf="info.shortinfo || info.longinfo" [ngClass]="info.longinfo?'link':'nolink'"
        class="transp"
        icon="pi pi-info-circle"
        pButton
        pTooltip="{{info.shortinfo}}"
></button>
<button *ngIf="info.relevant"
        class="transp nolink" icon="pi pi-circle-on"
        pButton
        pTooltip="{{info.guiname}} is relevant"
></button>
  <button *ngIf="!info.relevant"
          class="transp nolink" icon="pi pi-circle-off"
          pButton
          pTooltip="{{info.guiname}} is not relevant"
  ></button>
<ng-container *ngIf="info.showOptimize">
  <button
    (click)="idpService.optimise(info.idpname,false)" class="transp"
    icon="pi pi-arrow-circle-up"
    pButton
    pTooltip="Maximize over {{info.guiname}}"
  ></button>
  <button
    (click)="idpService.optimise(info.idpname,true)" class="transp"
    icon="pi pi-arrow-circle-down"
    pButton
    pTooltip="Minimize over {{info.guiname}}"
  ></button>
  <button
    (click)="idpService.doPropagation()" class="transp"
    icon="pi pi-times-circle"
    pButton
    pTooltip="Do not optimize {{info.guiname}}"
  ></button>
</ng-container>
</span>

<p-dialog *ngIf="info.longinfo"
          [dismissableMask]="true"
          [(visible)]="longInfoVisible"
          [modal]="true"
          [responsive]="true"
          [header]="info.guiname"
          [style]="{minWidth: '400px'}">
  {{info.longinfo}}
</p-dialog>
