<div class="contents">
<span class="ui-panel-title" style="font-size:18px;display:inline-block">
        {{info.guiname}}
</span>
  <span class="icons">
<button *ngIf="info.shortinfo || info.longinfo"
        pButton class="transp"
        icon="pi pi-info"
        pTooltip="{{info.shortinfo}}"
        (click)="longInfoVisible = true"
        [ngClass]="info.longinfo?'link':'nolink'"
></button>
<button *ngIf="info.relevant"
        pButton class="transp nolink"
        icon="pi pi-bell"
        pTooltip="{{info.guiname}} is relevant"
></button>
<ng-container *ngIf="info.showOptimize">
  <button
    pButton class="transp"
    icon="pi pi-arrow-circle-up"
    pTooltip="Maximize over {{info.guiname}}"
  ></button>
  <button
    pButton class="transp"
    icon="pi pi-arrow-circle-down"
    pTooltip="Minimize over {{info.guiname}}"
  ></button>
  <button
    pButton class="transp"
    icon="pi pi-times-circle"
    pTooltip="Do not optimize {{info.guiname}}"
  ></button>
</ng-container>
</span>
</div>

<p-dialog *ngIf="info.longinfo"
          [dismissableMask]="true"
          [(visible)]="longInfoVisible"
          [modal]="true"
          [responsive]="true"
          [header]="info.guiname"
          [style]="{minWidth: '400px'}">
  {{info.longinfo}}
</p-dialog>
