<div class="contents">
<span class="ui-panel-title" style="font-size:18px;display:inline-block">
        {{info.guiname}}
</span>
  <span class="icons">
<button (click)="longInfoVisible = true"
        *ngIf="info.shortinfo || info.longinfo" [ngClass]="info.longinfo?'link':'nolink'"
        class="transp"
        icon="pi pi-info-circle"
        pButton
        pTooltip="{{info.shortinfo}}"
></button>
<button *ngIf="info.relevant"
        class="transp nolink" icon="pi pi-bell"
        pButton
        pTooltip="{{info.guiname}} is relevant"
></button>
<ng-container *ngIf="info.showOptimize">
  <button
    class="transp" icon="pi pi-arrow-circle-up"
    pButton
    pTooltip="Maximize over {{info.guiname}}"
    (click)="idpService.optimise(info.idpname,false)"
  ></button>
  <button
    class="transp" icon="pi pi-arrow-circle-down"
    pButton
    pTooltip="Minimize over {{info.guiname}}"
    (click)="idpService.optimise(info.idpname,true)"
  ></button>
  <button
    class="transp" icon="pi pi-times-circle"
    pButton
    pTooltip="Do not optimize {{info.guiname}}"
    (click)="idpService.doPropagation()"
  ></button>
</ng-container>
</span>
</div>

<p-dialog *ngIf="info.longinfo"
          [dismissableMask]="true"
          [(visible)]="longInfoVisible"
          [modal]="true"
          [responsive]="true"
          [header]="info.guiname"
          [style]="{minWidth: '400px'}">
  {{info.longinfo}}
</p-dialog>
