:host >>> .my-panel .ui-panel-titlebar,
:host >>> .my-panel .ui-panel-content,
:host >>> .my-panel .ui-panel-footer {
  background: #EEE
}

.contents {
  display: flex;
  justify-content: space-between;
}
