<ng-container [ngSwitch]="info.type">

  <p-panel *ngSwitchCase="'proposition'" [showHeader]="false" styleClass="my-panel propo">
    <div class="contents">
      <span class="ui-panel-title" style="font-size:18px;display:inline-block;margin-right: 1em;">
        {{info.guiname}}
      </span>
      <div class="propHeader">
        <app-symbol-value-selector-buttons *ngIf="info.values[0]"
                                           [assignment]="info.values[0].assignment"></app-symbol-value-selector-buttons>
        <app-symbol-header [info]="info"></app-symbol-header>
      </div>
    </div>
  </p-panel>

  <p-panel *ngSwitchDefault styleClass="my-panel">
    <p-header>
      <div class="contents">
      <span class="ui-panel-title" style="font-size:18px;display:inline-block">
        {{info.guiname}}
      </span>
        <app-symbol-header [info]="info"></app-symbol-header>
      </div>
    </p-header>
    <app-symbol-value *ngFor="let value of shownValues" [symbolInfo]="info"
                      [valueInfo]="value"></app-symbol-value>
  </p-panel>

</ng-container>
